# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/photo/000f2faf-644e-402d-bb6f-fa59b5deec15.png
src/photo/06e8bc3d-9bdf-472c-8136-8afc83d7ecf1.png
src/photo/93852e38-ee8d-48eb-be71-3f2c213038b8.png
src/photo/d76fe625-b6d3-4fda-9230-7989046dc9f3.png
src/index.css
src/11111.png
src/2222.png
